<hr>
<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4" style="padding-left:200px;">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Is your temperature more than 37.9? Contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="https://formspree.io/f/meqnkyeq" target="_parent" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->



            <div class="text-center text-md-left">
                <button class="btn btn-primary" name="submit" type="submit">Submit</button>
            </div>
            <div class="status"></div>
        </form>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>George, Western Cape, RSA</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 27 789 440 677</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>masande@softsure.co.za</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->

<br><div class="table-dark"><h5 >DESIGNED AND BUILT WITH ALL THE LOVE IN THE WORLD</h5>
<H5>© 2022 Copyright all rights reserved</H5>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<div class="leftside">
  <ul class="socialmediaicons">
    <li><a href="https://www.facebook.com/sande.philips" target="_blank"><i class="fa
fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/sande_philips_za/" target="_blank"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://www.twitter.com/philips_sande" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a></li>
    </ul>
  </div>
</div>